{% extends 'base.html' %}
{% block content %}

<br>
    <h2>Managers</h2>
    <table class="table table-stripped table-bordered table-hovet">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Contact</th>
                
            </tr>
        </thead>
        <tbody>
            {% for  item in all %}
            <tr>
                <th scope="row"> {{ item.name }}</th>
                <th scope="row"> {{ item.phone }}</th>     
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
